main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main-area {
    width: 80%;
    /*background-color: red;*/
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    border-bottom: 2px solid black;
}

.gallery-area{
    width: 80%;
    height: 350px;
    overflow-y: auto;/*height넘어가면스크롤*/
    /*background-color: blue;*/
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;

}

.gallery-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*한 줄에 3개씩*/
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.item {
    display: flex;
    width: 320px;
    height: 240px;
    /*border: 1px solid gray;*/
    align-items: center;
    object-fit: contain;
    justify-content: center;
    overflow: hidden;/*블록 영역을 넘어가면 숨김*/
    /*color: white;*/
    /*background-color: black;*/
    /*font-size: 2rem;*/
    /*font-weight: bold;*/
}

