* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;/*장식이 없는*/
    text-align: center;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: darkblue;
    text-shadow: 2px 2px 10px greenyellow;
}

nav {
    /*border: 3px solid red;*/
    /*background-color: burlywood;*/
    /*text-align: right;*/
    margin-bottom: 20px;
}

nav ul {
    /*border: 3px solid blue;*/
    /*background-color: green;*/
    list-style-type: circle; /* 불릿이나 숫자를 없앤다. */
}

nav li {
    display: inline;
    text-align: center;
    padding: 10px;
    margin: 35px;
}

nav a {
    font-size: 1.5rem;
    text-transform: uppercase;/*대문자로*/
    text-decoration: none;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
}